<div class="triggers" id="triggers_page" hidden>
	<div class="cancel_row back">
		<button class="back triggers">< Back</button>
		<button class="cancel" id="cancel_triggers" (click)="cancel()">Cancel</button>
	</div>
	<div class="trigger_col">
		<h4 class="mood_label triggers">[ Mood ]</h4>
		<h5 class="emotion_label">[ Emotion ]</h5>
		<p class="help_label triggers">
			What best describes this feeling?
		</p>
		<h5 class="trigger_display">[ Triggers ]</h5>
		<div class="triggers_col">
			<div class="triggers_row">
				<button id="health_btn">Health</button>
				<button id="selfcare_btn">Self-Care</button>
				<button id="hobbies_btn">Hobbies</button>
			</div>
			<div class="triggers_row">
				<button id="family_btn">Family</button>
				<button id="friends_btn">Friends</button>
				<button id="partner_btn">Partner</button>
			</div>
			<div class="triggers_row">
				<button id="work_btn">Work</button>
				<button id="school_btn">School</button>
				<button id="identity_btn">Identity</button>
			</div>
			<div class="other_row">
				<p class="other_label">Other:</p>
				<input
					type="text"
					class="other_input"
					placeholder="Type Here"
				/>
			</div>
		</div>
	</div>
	<div class="next_row triggers">
		<button class="next_btn triggers">Done</button>
	</div>
</div>