.journal {
	height: 100%;
}

.entry_list_label {
	height: 15%;
}

.entry_list_row {
	height: calc(90% - 45px - 2rem);
}

.new_btn_row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 45px;
}