/* COLORS */

/* BACKGROUND COLOR */
$background-color: #eaeaf0;



$navbar-background-color: #ffffff;

/* TEXT COLOR */

$cancel-button-hover: #808080;

$navbar-border-color: #000000;

$navbar-button-color: #000000;
$navbar-button-color-hover: #fa8072;
$navbar-button-color-active: #8b0000;

/* SPACING */

$app-margin: 50px;