/* COLORS */

$mb-red-10: #330000;
$mb-red-20: #660000;
$mb-red-30: #990000;
$mb-red-40: #cc0000;
$mb-red: #ff0000;
$mb-red-60: #ff3333;
$mb-red-70: #ff6666;
$mb-red-80: #ff9999;
$mb-red-90: #ffcccc;

$mb-orange-10: #2c1807;
$mb-orange-20: #58310e;
$mb-orange-30: #844915;
$mb-orange-40: #b0611c;
$mb-orange: #dd7922;
$mb-orange-60: #e3944f;
$mb-orange-70: #eaaf7b;
$mb-orange-80: #f1caa7;
$mb-orange-90: #f8e4d3;

$mb-yellow-10: #332b00;
$mb-yellow-20: #665700;
$mb-yellow-30: #998200;
$mb-yellow-40: #ccad00;
$mb-yellow: #ffd900;
$mb-yellow-60: #ffe866;
$mb-yellow-70: #fff099;
$mb-yellow-80: #fff7cc;
$mb-yellow-90: #fff7cc;

$mb-green-10: #0f240f;
$mb-green-20: #1f471f;
$mb-green-30: #2e6b2e;
$mb-green-40: #3d8f3d;
$mb-green: #4db34d;
$mb-green-60: #70c270;
$mb-green-70: #94d194;
$mb-green-80: #b8e0b8;
$mb-green-90: #dbf0db;

$mb-blue-10: #0b1528;
$mb-blue-20: #162a50;
$mb-blue-30: #224077;
$mb-blue-40: #2d559f;
$mb-blue: #386ac7;
$mb-blue-60: #6088d2;
$mb-blue-70: #88a6dd;
$mb-blue-80: #afc3e9;
$mb-blue-90: #d7e1f4;

$mb-violet-10: #1f1122;
$mb-violet-20: #3e2244;
$mb-violet-30: #5c3366;
$mb-violet-40: #7b4488;
$mb-violet: #9a55aa;
$mb-violet-60: #ae77bb;
$mb-violet-70: #c299cc;
$mb-violet-80: #d7bbdd;
$mb-violet-90: #ebddee;

$mb-pink-10: #2b0815;
$mb-pink-20: #56102b;
$mb-pink-30: #811840;
$mb-pink-40: #ab2156;
$mb-pink: #d6296b;
$mb-pink-60: #de5489;
$mb-pink-70: #e77ea6;
$mb-pink-80: #efa9c4;
$mb-pink-90: #f7d4e1;

$mb-black: #000000;
$mb-gray-10: #1a1a1a;
$mb-gray-20: #333333;
$mb-gray-30: #4d4d4d;
$mb-gray-40: #666666;
$mb-gray: #808080;
$mb-gray-60: #999999;
$mb-gray-70: #b3b3b3;
$mb-gray-80: #cccccc;
$mb-gray-90: #e6e6e6;
$mb-white: #ffffff;


/* BACKGROUND COLOR */

$background-color: $mb-violet-90;
$card-background-color: $mb-white;
$navbar-background-color: $mb-white;

/* TEXT COLOR */

$cancel-button-hover: $mb-gray;

$navbar-border-color: $mb-gray-80;

$navbar-box-shadow: 1px 1px 1px $mb-gray;

$navbar-link-color: $mb-black;
$navbar-link-color-hover: $mb-red-80;
$navbar-link-color-active: $mb-red-30;

/* SPACING */

$app-margin: 50px;