@use 'variables' as *;

/* SECTIONS */

:host {
	align-items: center;
	box-sizing: inherit;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	width: 100%;

  &.appRoot {
    margin-block: $app-margin;
  }
}

header {
	width: 100%;
}

/* NAVBAR */

.navBar {
	align-items: center;
	background-color: $navbar-background-color;
	border-radius: 500px;
  box-shadow: $navbar-box-shadow;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 0 30px;
	width: 70%;

  &-.link {
    background-color: transparent;
    border: none;
    color: $navbar-link-color;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $navbar-link-color-hover;
    }

    &:active {
      color: $navbar-link-color-active;
    }
  }
}

/* PAGES */

.page_component {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 70%;
}

/* RESPONSIVE SCREENS */

@media screen and (max-width: 650px) {
	.navbar {
		width: 60%;
	}
}