/* SECTIONS */

main {
	align-items: center;
	box-sizing: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;
    position: relative;
	width: 100%;
}

header {
	margin: 3vh;
	width: 100%;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
    max-width: 1000px;
	width: 100vw;
}

// top level components
.content > * {
	aspect-ratio: 1 / 1;
	background: white;
	border: 3px solid black;
	border-radius: 10px;
	overflow: auto;
	padding: 5%;
	width: 40%;
}

@media screen and (max-width: 650px) {
    .content {
		align-items: center;
        flex-direction: column;
		margin-bottom: 30px;
		row-gap: 30px;
		width: 100%;
    }

	.content > * {
		width: 70%;
	}
}