<!-- Thunkable: https://x.thunkable.com/projects/663287ed92f085b2c54c473a/eef54842-8150-4cae-94fb-4af46ab8c90f/designer -->
<!-- GitHub: https://github.com/a-bikombe/MoodBored -->
<!-- VS Code Documentation: https://code.visualstudio.com/docs/nodejs/angular-tutorial -->

<main class="main">
    <div class="content">
        <header>
            <h1 style="color: red;">MoodBored</h1>
        </header>
		<past-moods></past-moods>
		<stats></stats>
		<journal></journal>
		<log-new-mood></log-new-mood>
    </div>
</main>

<router-outlet />
