<!-- Thunkable: https://x.thunkable.com/projects/663287ed92f085b2c54c473a/eef54842-8150-4cae-94fb-4af46ab8c90f/designer -->
<!-- GitHub: https://github.com/a-bikombe/MoodBored -->
<!-- VS Code Documentation: https://code.visualstudio.com/docs/nodejs/angular-tutorial -->

<main class="main">
	<header>
		<h1>MoodBored</h1>
	</header>
    <div class="content">
		<past-moods></past-moods>
		<log-new-mood></log-new-mood>
	</div>
	<div class="content">
		<stats></stats>
		<journal></journal>
    </div>
</main>

<router-outlet />
