<div class="emotion" hidden>
	<div class="cancel_row back">
		<button class="back emotion">Back</button>
		<button class="cancel">Cancel</button>
	</div>
	<div class="emotion_col">
		<h4 class="mood_label emotion">[ Mood ]</h4>
		<p class="help_label emotion">
			What best describes this feeling?
		</p>
		<h5 class="emotion_display">[ Emotion ]</h5>
		<div class="emotion_row pleasant">
			<button id="happy_btn">Happy</button>
			<button id="excited_btn">Excited</button>
			<button id="grateful_btn">Grateful</button>
		</div>
		<div class="emotion_row neutral">
			<button id="indifferent_btn">Indifferent</button>
			<button id="calm_btn">Calm</button>
			<button id="peaceful_btn">Peaceful</button>
		</div>
		<div class="emotion_row unpleasant">
			<button id="sad_btn">Sad</button>
			<button id="angry_btn">Angry</button>
			<button id="anxious_btn">Anxious</button>
		</div>
	</div>
	<div class="next_row emotion">
		<button class="next_btn emotion">Next</button>
	</div>
</div>