<div class="log_page emotion" id="emotion_page">
	<div class="cancel_row back">
    <a mat-button routerLink="../log-mood"> {{ 'labels.buttons.back' | translate }} </a>
    <a mat-button routerLink="../home"> {{ 'labels.buttons.cancel' | translate }} </a>
	</div>
	<div class="emotion_col">
		<h4 class="mood_label emotion"> {{ 'labels.moodDetail.mood' | translate }} </h4>
		<p class="help_label emotion"> {{ 'labels.log.emotion.title' | translate }} </p>
		<h5 class="display emotion"> {{ 'labels.moodDetail.emotion' | translate }} </h5>
		<div class="emotion_row pleasant">
			<button mat-button class="btn-secondary" id="happy_btn"> {{ 'labels.log.emotion.pleasant.happy' | translate }} </button>
			<button mat-button class="btn-secondary" id="excited_btn"> {{ 'labels.log.emotion.pleasant.excited' | translate }} </button>
			<button mat-button class="btn-secondary" id="grateful_btn"> {{ 'labels.log.emotion.pleasant.grateful' | translate }} </button>
		</div>
		<div class="emotion_row neutral">
			<button mat-button class="btn-secondary" id="indifferent_btn"> {{ 'labels.log.emotion.neutral.indifferent' | translate }} </button>
			<button mat-button class="btn-secondary" id="calm_btn"> {{ 'labels.log.emotion.neutral.calm' | translate }} </button>
			<button mat-button class="btn-secondary" id="peaceful_btn"> {{ 'labels.log.emotion.neutral.peaceful' | translate }} </button>
		</div>
		<div class="emotion_row unpleasant">
			<button mat-button class="btn-secondary" id="sad_btn"> {{ 'labels.log.emotion.unpleasant.sad' | translate }} </button>
			<button mat-button class="btn-secondary" id="angry_btn"> {{ 'labels.log.emotion.unpleasant.angry' | translate }} </button>
			<button mat-button class="btn-secondary" id="anxious_btn"> {{ 'labels.log.emotion.unpleasant.anxious' | translate }} </button>
		</div>
	</div>
	<div class="next_row">
    <a mat-flat-button routerLink="../log-triggers"> {{ 'labels.buttons.next' | translate }} </a>
  </div>
</div>